


$maizClaro: rgba(253, 241, 175, 0.733);
$maiz: rgba(243, 209, 124, 0.71);
$marron: rgba(207, 153, 99, 0.71);
$verde: rgba(119, 164, 100, 0.993);

$crearBorde: "no";

$mapaColores: (1: $maizClaro, 2: $maiz, 3: $marron, 4: rgba(119, 164, 100, 0.71))



