@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Cinzel&display=swap");
.detalleprod {
  font-family: cursive;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2 auto);
  gap: 2rem;
}
.detalleprod .imgfrutosrojos {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.detalleprod .descripcion {
  text-align: center;
  font-family: "Cinzel", serif;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.detalleprod .descripcion h3 {
  margin: 2rem;
  font-family: "Cinzel", serif;
}
.detalleprod .selcantidad {
  grid-area: selcantidad;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.detalleprod .agregar_carrito button {
  background-color: #70995E;
}
.detalleprod .agregar_carrito button:hover {
  color: #70995E;
}

.pagecontacto address {
  margin-left: 25%;
}
.pagecontacto h2 {
  padding: 16px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  row-gap: 16px;
}
.pagecontacto .form-group {
  font-size: small;
  margin-left: 15%;
  margin-right: 15%;
}

.ubicacion {
  font-family: "Cinzel", serif;
  text-shadow: 1px 1px 1px lightslategrey;
  margin-bottom: 25px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: fill;
     object-fit: fill;
}
.ubicacion iframe {
  width: auto;
  height: 22rem;
}

.quienessomos h2 {
  padding: 16px;
}
.quienessomos p {
  padding: 16px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Cinzel", serif;
  margin-bottom: 5%;
}
.quienessomos .carousel-item img {
  padding: 0 10%;
  padding-bottom: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.carousel-control-prev {
  left: 10%;
}

.carousel-control-next {
  right: 10%;
}

* {
  margin: 0;
  padding: 0;
  /*border-style: dashed;*/
  font-family: "Cinzel", serif;
}

h2 {
  color: #77a464;
  text-align: center;
  font-style: italic;
  padding-top: 16px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: rgb(249, 248, 243);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "nav" "frontpage1" "frontpage2" "footer";
  min-height: 100vh;
}

input {
  border-radius: 16px;
}

header {
  grid-area: header;
  background-image: url(../Imagenes/Fondo\ Header.jpg);
  background-size: cover;
  height: 100px;
  overflow: hidden;
}
header a {
  text-decoration: none;
}
header h1 {
  color: white;
  text-shadow: 2px 2px 2px #8C8C8C;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  padding-top: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  list-style: none;
  font-family: "Cinzel", serif;
  font-weight: 90px;
  font-weight: bolder;
  background-color: hwb(34 84% 2%);
}
.menu a {
  color: #77a464;
  font-weight: lighter;
  text-decoration: none;
  list-style: none;
}
.menu a:hover {
  color: #70995E;
  font-size: 18px;
  text-shadow: 1px 1px 1px lightslategrey;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu {
  order: 1;
}

#check {
  display: none;
}

.frontpage1 {
  grid-area: frontpage1;
  /*display: flex;
  justify-content: center;*/
  /*padding: 10px;*/
  align-self: center;
  /*position: absolute;*/
  margin: 0% 10%;
  opacity: 60%;
  height: auto;
}
.frontpage1 .carousel-item img {
  height: 400px;
}
.frontpage1 .botonprod {
  position: relative;
  width: 200px;
  z-index: 99;
  font-family: "Cinzel", serif;
  text-decoration: none;
  /*background-color:bisque;*/
  border: none;
  background-color: rgba(245, 235, 224, 0.62);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-self: center;
  top: 250px;
  right: 40%;
  left: 40%;
}
.frontpage1 .botonprod a {
  /*display:flex;
  flex-direction: row;*/
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 10px;
  /* flex-wrap: wrap;
  position: static;*/
  text-align: center;
}
.frontpage1 .botonprod a:hover {
  color: grey;
  font-size: 16px;
}

.frontpage2 {
  grid-area: frontpage2;
}
.frontpage2 h2 {
  text-align: center;
  padding: 16px;
}

.misprod {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Cinzel", serif;
  text-shadow: 1px 1px 1px lightslategrey;
  color: #77a464;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.misprod a {
  text-decoration: none;
  /*height: 10px;*/
  color: #77a464;
}
.misprod h5,
.misprod h6 {
  text-align: center;
}
.misprod div {
  display: block;
  font-family: "Cinzel", serif;
  text-shadow: 1px 1px 1px lightslategrey;
  display: grid;
  margin: 20px;
}
.misprod div img {
  border-radius: 20%;
  display: block;
  margin: auto;
}
.misprod div img:hover {
  transform: scale(1.3);
}

footer {
  background-color: hwb(34 84% 2%);
}
footer img {
  height: 9rem;
  opacity: 70%;
}

.col-auto button {
  color: black;
  border-color: black;
}

@media (max-width: 320px) {
  /*nav {
    display: none;
  }*/
  h2 {
    font-size: medium;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  footer img {
    display: none;
  }
  .social-bar {
    display: flex;
    margin: 0%;
  }
  .frontpage1 .botonprod {
    display: none;
  }
  #carouselExampleControls img {
    height: 200px;
    margin: 0;
    padding: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .quienessomos p {
    font-size: 500px;
    margin-top: 0;
    padding: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .quienessomos h2 {
    height: 16px;
  }
  .gallery-container img {
    display: block;
  }
  .gallery__item:nth-child(2),
.gallery__item:nth-child(6) {
    display: none;
  }
  .gallery__item img {
    border-radius: 16px;
    padding: 10px;
  }
  .gallery__item img:hover {
    transform: scale(1.3);
  }
  .social-bar {
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .contacto {
    display: flex;
    box-sizing: border-box;
    margin: 0%;
    font-size: smaller;
    padding: 10px;
  }
  .pagecontacto address {
    margin-left: 5%;
    font-size: smaller;
  }
  .ubicacion {
    display: flex;
    margin: 0%;
    padding: 10px;
  }
  .misprod {
    margin: 0%;
  }
  .imgfrutosrojos img {
    width: auto;
    height: 160px;
  }
  .detalleprod {
    display: block;
  }
  .descripcion {
    font-size: 10px;
  }
  .mostrar-menu,
.esconder-menu {
    display: block;
  }
  .mostrar-menu {
    margin-left: 50%;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: bisque;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .esconder-menu {
    position: absolute;
    top: 1px;
    right: 20px;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .misprod h5,
.misprod h6 {
    font-size: small;
  }
  .carousel-item img {
    height: 200px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .mostrar-menu,
.esconder-menu {
    display: block;
  }
  .mostrar-menu {
    margin-left: 50%;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: bisque;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 50px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .esconder-menu {
    position: absolute;
    top: 1px;
    right: 20px;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  #carouselExampleControls img {
    height: 300px;
    margin: 0;
    padding-top: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .frontpage1 .botonprod {
    display: none;
  }
  .misprod {
    margin: 0%;
  }
  .detallejabon {
    display: block;
    flex-direction: column;
  }
  .detallejabon h2 {
    margin-top: 16px;
  }
  .imgfrutosrojos img {
    width: auto;
    height: auto;
    margin-left: 5%;
    border-radius: 16px;
  }
  .detalleprod {
    display: block;
  }
  .descripcion {
    font-size: 12px;
  }
  .selcantidad,
.cantidad,
.agregar_carrito {
    color: #70995E;
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
  .quienessomos p {
    font-size: 12px;
  }
  .social-bar {
    display: flex;
    margin: 0%;
  }
  footer img {
    display: none;
  }
  .carousel-item img {
    height: 300px;
  }
}/*# sourceMappingURL=archivo.css.map */